/* Modal styles */
.modal {
    position: fixed;
    top: 5%;
    left: 30%;
    width: 40%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal appears above other content */
  }
  
  .modal-content {
    background-color: #ff9800;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Apply blur to background content */
  .blur-background {
    filter: blur(100px); /* Adjust the blur level as needed */
  }
  