.navbar {
    background-color: #000;
    /* Set the background color to black */
}

.navbar-nav .nav-link {
    color: #ff9800;
    /* Set the font color to redish-yellow */
}

.navbar-brand{
    color: #ff9800;
}

.navbar-brand:hover{
    color: #ffc107;
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
    /* Change the hover color if desired */
}